<!DOCTYPE html>
<html class="no-js">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>“答尔文”一对一在线辅导</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/1.css" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/logo.ico" />
		<link rel="stylesheet" href="../css/icomoon-social.css">
		<link rel="stylesheet" href="../css/leaflet.css" />
		<link rel="stylesheet" href="../css/main.css">

		<script src="../js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<style>
			#txtCon {
				resize: none;
				width: 180px;
				height: 40px;
			}
			
			#login {
				position: absolute;
				top: 50px;
				right: 80px;
			}
			
			#onlya {
				color: black;
			}
	        #container {
	            width: 800px;
	            margin: 0 auto;
	        }
	        #toolbar-container {
	            border: 1px solid #ccc;
	            background-color: #fff;
	        }
	        #toolbar-container:after {
	            display: table;
	            content: '';
	            clear: both;
	        }
	        #editor-toolbar {
	            float: left;
	        }
	        #btn-container {
	            float: right;
	            text-align: right;
	        }
	        #editor-text {
	            border: 1px solid #ccc;
	            border-top: 0;
	            height: 300px;
	            background-color: #fff;
	            z-index: 1;
	        }
	        #cover {
	            display: none;
	            position: fixed;
	            z-index: 10000;
	            top: 0px;
	            left: 0px;
	            right: 0px;
	            height: 100%;
	            width: 100%;
	            padding: 0px;
	            /*background-color: #f1f1f1;*/
	            background-color:#000;
	            filter:alpha(opacity=100); /*IE*/
	            -moz-opacity:1; /*old Mozilla*/
	            -khtml-opacity: 1; /*old Safari*/
	            opacity: 1; /*Chrome, Opera, Safari*/
	        }
	        #btn_fullscreen{
	            background-color: #fff;
	            border: 0px;
	            height: 100%;
	            position:relative;
	            top:3px;
	            z-index: 9999;
	        }
	        label {
	        	color: #fff;
	        }
	        .btn_sub {
	        	display: inline-block;
			    margin-bottom: 0;
			    font-weight: normal;
			    text-align: center;
			    vertical-align: middle;
			    cursor: pointer;
			    background-image: none;
			    border: 1px solid transparent;
			    white-space: nowrap;
	        	margin-top: 20px;
	        	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    			box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    			color: #fff;
			    background-color: #009a61;
			    border-color: #008151;
			    padding: 10px 16px;
			    font-size: 18px;
			    line-height: 1.33;
			    border-radius: 6px;
	        }
	        .btn_sub:hover {
	        	background-color: #006741;
    			border-color: #00432a
	        }
		</style>
	</head>

	<body>
		<!-- Navigation & Logo-->
		<div class="mainmenu-wrapper">
			<div class="container">
				<div class="menuextras">
				</div>
				<form action="/post_order" method="post" id="form">
				<nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper">
							<a href="/"><img src="../img/logo.png" alt="达尔文"></a>
						</li>
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="//localhost:3000">学习资讯</a>
						</li>
						<li class="has-submenu">
							<a href="#">在线答疑</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4>Homepage</h4>
										<ul>
											<li>
												<a href="index1.ejs">回到首页</a>
											</li>
											<li>
												<a href="introduce.html">“答尔文”介绍</a>
											</li>
										</ul>
										<h4>悬赏金额</h4>
										<div>
											<ul>
												<li><input id="bonus1" type="radio" value="5" name="bonus" checked />
													<label for="bonus1">5¥</label>
												</li>
												<li><input id="bonus2" type="radio" value="10" name="bonus" />
													<label for="bonus2">10¥</label>
												</li>
												<li><input id="bonus3" type="radio" value="15" name="bonus" />
													<label for="bonus3">15¥</label>
												</li>
												<li><input id="bonus4" type="radio" value="20" name="bonus" />
													<label for="bonus4">20¥</label>
												</li>
											</ul>
										</div>
										<h4>辅导老师类型</h4>
										<div>
											<ul>
												<li><input id="t_type1" type="radio" value="资深教师" name="t_type" checked/>
													<label for="t_type1">资深教师</label>
												</li>
												<li><input id="t_type2" type="radio" value="一般教师" name="t_type" />
													<label for="t_type2">一般教师</label>
												</li>
												<li><input id="t_type3" type="radio" value="在校大学生" name="t_type" />
													<label for="t_type3">在校大学生</label>
												</li>
											</ul>
										</div>
									</div>
									<div>
										<h4>按教育阶段分类</h4>
										<div>
											<ul>
												<li>
													<input id="e_stage1" type="radio" value="小学教育" name="e_stage" checked="checked" />
													<label for="e_stage1">小学教育</label>
												</li>
												<li>
													<input id="e_stage2" type="radio" value="初中教育" name="e_stage" />
													<label for="e_stage2">初中教育</label>
												</li>
												<li>
													<input id="e_stage3" type="radio" value="高中教育" name="e_stage" />
													<label for="e_stage3">高中教育</label>
												</li>
												<li>
													<input id="e_stage4" type="radio" value="大学教育" name="e_stage" />
													<label for="e_stage4">大学教育</label>
												</li>
											</ul>
										</div>
										<h4>对应知识点</h4>
										<div>
											<ul>
												<li>
													<input id="k_Point1" type="radio" value="数和数的运算" name="k_Point" checked/>
													<label for="k_Point1">数和数的运算</label>
												</li>
												<li><input id="k_Point2" type="radio" value="度量衡" name="k_Point" />
													<label for="k_Point2">度量衡</label>
												</li>
												<li><input id="k_Point3" type="radio" value="代数初步知识" name="k_Point" />
													<label for="k_Point3">代数初步知识</label>
												</li>
												<li><input id="k_Point4" type="radio" value="几何的初步知识" name="k_Point" />
													<label for="k_Point4">几何的初步知识</label>
												</li>
												<li><input id="k_Point5" type="radio" value="简单的统计" name="k_Point" />
													<label for="k_Point5">简单的统计</label>
												</li>
												</ul>
										</div>
									</div>
									<div>
										<h4>按科目分类</h4>
										<div>
											<ul>
												<li><input id="sub_class1" type="radio" value="数学" name="sub_class" checked="checked" />
													<label for="sub_class1">数学</label>
												</li>
												<li><input id="sub_class2" type="radio" value="语文" name="sub_class" />
													<label for="sub_class2">语文</label>
												</li>
												<li><input id="sub_class3" type="radio" value="英语" name="sub_class" />
													<label for="sub_class3">英语</label>
												</li>
												<li><input id="sub_class4" type="radio" value="物理" name="sub_class" />
													<label for="sub_class4">物理</label>
												</li>
												<li><input id="sub_class5" type="radio" value="化学" name="sub_class" />
													<label for="sub_class5">化学</label>
												</li>
											</ul>
										</div>
										<h4>教师要求</h4>
										<div>
											<ul>
												<li><input id="require_teacher1" type="checkbox" value="长的漂亮" name="require_teacher" />
													<label for="require_teacher1">长的漂亮</label>
												</li>
												<li><input id="require_teacher2" type="checkbox" value="声音好听" name="require_teacher" />
													<label for="require_teacher2">声音好听</label>
												</li>
												<li><input id="require_teacher3" type="checkbox" value="讲题细心" name="require_teacher" />
													<label for="require_teacher3">讲题细心</label>
												</li>
												<li><input id="require_teacher4" type="checkbox" value="学历高" name="require_teacher" />
													<label for="require_teacher4">学历高</label>
												</li>
												<li>
													<p>对教师的其他要求</p>
												</li>
												<li>
													<textarea id="txtCon" name="require_teacher_else"></textarea>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="width: 100%;margin-top: 20px;text-align: center;">
									<h4 style="text-align: center;">问题详细描述</h4>
									<div id="container">
									    <!--菜单栏-->
									    <div id="toolbar-container">
									        <div id="editor-toolbar"></div>
									        <div id="btn-container">
									            <button id="btn_fullscreen"><span class="">预览</span></button>
									        </div>
									    </div>
									    <!--编辑区域-->
									    <div id="editor-text" contenteditable="false">

									    </div>
									</div>
									<input type="text" name="p_detail" style="display: none;" id="p_detail">
									<button class="btn_sub" id="post_submit">提交</button>
								</div>
							</div>
						<li>
							<a href="/profile">个人中心（我的储物箱）</a>
						</li>
					</ul>
				</nav>
			</form>
			<div id="login">
				<% if (user) { %>
					<a href="#"><%= user.nickname  %></a>
					<a id="out">退出</a>
				<% } else { %>
					<a href="//localhost:3000/signin">登录</a> | 
					<a href="//localhost:3000/signup">注册</a>
				<% } %>
			</div>
			</div>
		</div>
		<!--全屏模式-->
		<div id="cover"></div>
		<!-- end 全屏 -->
		<div class="homepage-slider">
			<div id="sequence">
				<ul class="sequence-canvas">
					<li class="bg4">
						<h2 class="title">你问我答</h2>
						<h3 class="subtitle">一对一在线答疑，分类标签，悬赏金额，帮助学生得到最好的讲解</h3>
					</li>
					<li class="bg3">
						<h2 class="title">云错题集</h2>
						<h3 class="subtitle">特有的错题分类机制，完美的题库匹配机制，让学生再也不怕考试</h3>
					</li>
					<li class="bg1">
						<h2 class="title">约课拼课</h2>
						<h3 class="subtitle">线上线下约课拼课，满足你的需求，减少你的费用，给予你最大的辅导享受</h3>
					</li>
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-wired">
							<a href="#">在寻求真理的长河中，唯有学习，不断地学习，勤奋地学习，有创造性地学习，才能越重山跨峻岭。</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-mashable">
							<a href="#">现在，我怕的并不是那艰苦严峻的生活，而是不能再学习和认识我迫切想了解的世界。对我来说，不学习，毋宁死。</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-techcrunch">
							<a href="#">谁在装束和发型上用尽心思，谁就没有精力用于学习；谁只注意修饰外表的美丽，谁就无法得到内在的美丽。</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="service-wrapper">
							<img src="../img/service-icon/diamond.png" alt="Service 1">
							<h3>你问我答</h3>
							<p>一对一在线答疑，分类标签，悬赏金额，帮助学生得到最好的讲解</p>
							<a href="#" class="btn">了解更多</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="service-wrapper">
							<img src="../img/service-icon/ruler.png" alt="Service 2">
							<h3>云错题集</h3>
							<p>特有的错题分类机制，完美的题库匹配机制，让学生再也不怕考试</p>
							<a href="#" class="btn">了解更多</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="service-wrapper">
							<img src="../img/service-icon/box.png" alt="Service 3">
							<h3>约课拼课</h3>
							<p>线上线下约课拼课，满足你的需求，减少你的费用，给予你最大的辅导享受</p>
							<a href="#" class="btn">了解更多</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<h2>悬赏金额</h2>
				<div class="row">
					<div class="pricing-wrapper col-md-12">
						<div class="pricing-plan">
							<div class="ribbon-wrapper">
								<div class="price-ribbon ribbon-red">Popular</div>
							</div>
							<h2 class="pricing-plan-title">开始</h2>
							<p class="pricing-plan-price">免费</p>
							<ul class="pricing-plan-features">
								<li><strong>1</strong> 次</li>
								<li><strong>持续</strong> 时间</li>
								<li><strong>10</strong> 分钟</li>
							</ul>
							<a href="index1.ejs" class="btn">欢迎进入</a>
						</div>
						<div class="pricing-plan">
							<h2 class="pricing-plan-title">发展</h2>
							<p class="pricing-plan-price">49<span>/mo</span></p>
							<ul class="pricing-plan-features">
								<li><strong>10</strong> users</li>
								<li><strong>Unlimited</strong> projects</li>
								<li><strong>20GB</strong> storage</li>
							</ul>
							<a href="index1.ejs" class="btn">欢迎进入</a>
						</div>
						<div class="pricing-plan pricing-plan-promote">
							<h2 class="pricing-plan-title">高潮</h2>
							<p class="pricing-plan-price">$99<span>/mo</span></p>
							<ul class="pricing-plan-features">
								<li><strong>Unlimited</strong> users</li>
								<li><strong>持续</strong> 时间</li>
								<li><strong>100GB</strong> storage</li>
							</ul>
							<a href="index1.ejs" class="btn">欢迎进入</a>
						</div>
						<div class="pricing-plan">
							<div class="ribbon-wrapper">
								<div class="price-ribbon ribbon-green">New</div>
							</div>
							<h2 class="pricing-plan-title">学有所成</h2>
							<p class="pricing-plan-price">$199<span>/mo</span></p>
							<ul class="pricing-plan-features">
								<li><strong>Unlimited</strong> users</li>
								<li><strong>持续</strong> 时间</li>
								<li><strong>100GB</strong> storage</li>
							</ul>
							<a href="index1.ejs" class="btn">欢迎进入</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">Copyright &copy; 2015.Company name All rights reserved.</div>
			</div>
		</div>
		</div>
		</div>

	</body>
	<script src="../js/jquery-1.9.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/leaflet.js"></script>
	<script src="../js/jquery.fitvids.js"></script>
	<script src="../js/jquery.sequence-min.js"></script>
	<script src="../js/jquery.bxslider.js"></script>
	<script src="../js/main-menu.js"></script>
	<script src="../js/template.js"></script>
	<script>
		$("#out").on("click",function () {
			if($("#out").html()=="退出"){
				$("#out").attr("href","/logout")
			}
		})
		
	</script>
	<script type="text/javascript" src="../js/wangEditor.min.js"></script>
	<script type="text/javascript">
	    // 创建编辑器
	    var E = window.wangEditor
	    var editor = new E('#editor-toolbar', '#editor-text')
	    editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
	    editor.create()

	    // 获取使用到的元素
	    var toolbarContaner = document.getElementById('toolbar-container')
	    var editorText = document.getElementById('editor-text')
	    var cover = document.getElementById('cover')
	    var container = document.getElementById('container')

	    // 全屏事件
	    function doFullScreen() {
	        document.getElementById("toolbar-container").style.border="0px";//隐藏
	        document.getElementById("editor-toolbar").style.display="none";//隐藏

	        cover.style.display = 'block';
	        editorText.style.height = '100%';
	        editorText.style.width = '100%';
	        cover.appendChild(toolbarContaner)
	        cover.appendChild(editorText)
	        document.getElementById('editor-text').childNodes[1].contentEditable=false;
	    }

	    // 退出全屏事件
	    function unDoFullScreen() {
	        document.getElementById("toolbar-container").style.border=" 1px solid #ccc";//显示
	        document.getElementById("editor-toolbar").style.display="";//显
	        container.appendChild(toolbarContaner)
	        container.appendChild(editorText)
	        editorText.style.height = '300px';
	        cover.style.display = 'none'
	        document.getElementById('editor-text').childNodes[1].contentEditable=true;
	    }

	    // 是否是全屏的标志
	    var isFullScreen = false

	    // 点击事件
	    var btn_fullscreen = document.getElementById('btn_fullscreen')
	    btn_fullscreen.addEventListener('click', function () {
	        if (isFullScreen) {
	            isFullScreen = false
	            unDoFullScreen()
	            setTimeout(function () {
	            	$('.has-submenu a').click()
	            }, 0)
	        } else {
	            isFullScreen = true
	            doFullScreen()
	        }
	    }, false)

	    $('#post_submit').click(function () {
			document.getElementById('p_detail').value = editor.txt.html();
			document.getElementById('form').submit();
		})
	</script>
</html>