<html>

<head>
    <title>My Video</title>
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        canvas {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
        }

        #canvasdiv {
            position: absolute;
            background-color: antiquewhite;
            width: 500px;
            height: 400px;
            overflow: scroll;
        }

        #canvasdiv::-webkit-scrollbar {
            width: 0px;
        }


        #reAudio{
            position: absolute;
            right: 0;
        }
    </style>
</head>

<body>
    <div>
        <button id="getMyCourseBtn">我的课程记录</button>
    </div>
    <div>
        <ul id="itemUl">

        </ul>
    </div>
    <div id="canvasdiv">

    </div>
    <button id="reAudio">声音</button>
</body>
<script>
    $('#getMyCourseBtn').click(function () {
        requestMyVideoList();
    })

    $("#reAudio").click(function () {
        reAudio();
    });
</script>
<script src="../js/reDrawA.js"></script>
<script src="../js/chat.js"></script>

</html>