<!DOCTYPE html>
<html class="no-js">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>学习资讯</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/icomoon-social.css">
		<link rel="shortcut icon" type="image/x-icon" href="../img/logo.ico" />
		<link rel="stylesheet" href="../css/main.css">

		<script src="../js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<style>
		#login {
			position: absolute;
			top: 50px;
			right: 80px;
		}
		
		#onlya {
			color: black;
		}
		
		#txtCon {
			resize: none;
			width: 180px;
			height: 40px;
		}
	</style>

	<body>
		<div class="mainmenu-wrapper">
			<div class="container">
				<div class="menuextras">
				</div>
				<nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper">
							<a href="index1.ejs"><img src="../img/logo.png" alt="Multipurpose Twitter Bootstrap Template"></a>
						</li>
						<li>
							<a href="index1.ejs">首页</a>
						</li>
						<li class="active">
							<a href="features.html">学习资讯</a>
						</li>
						<li class="has-submenu">
							<a href="#">在线答疑</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4>Homepage</h4>
										<ul>
											<li>
												<a href="index1.ejs">回到首页</a>
											</li>
											<li>
												<a href="introduce.html">“答尔文”介绍</a>
											</li>
										</ul>
										<h4>悬赏金额</h4>
										<form>
											<ul>
												<li><input type="radio" value="None" name="check" />
													<a href="page-services-1-column.html">5¥</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-services-3-columns.html">10¥</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-services-4-columns.html">15¥</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-pricing.html">20¥</a>
												</li>
											</ul>
										</form>
										<h4>辅导老师类型</h4>
										<form>
											<ul>
												<li><input type="radio" value="None" name="check" />
													<a href="page-team.html">资深教师</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-vacancies.html">一般教师</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-job-details.html">在校大学生</a>
												</li>
											</ul>
										</form>
									</div>
									<div>
										<h4>按教育阶段分类</h4>
										<form>
											<ul>
												<li>
													<input type="radio" value="None" name="check" checked="checked" />
													<a href="page-portfolio-2-columns-1.html">小学教育</a>
												</li>
												<li>
													<input type="radio" value="None" name="check" />
													<a href="page-portfolio-2-columns-2.html">初中教育</a>
												</li>
												<li>
													<input type="radio" value="None" name="check" />
													<a href="page-portfolio-3-columns-1.html">高中教育</a>
												</li>
												<li>
													<input type="radio" value="None" name="check" />
													<a href="page-portfolio-3-columns-2.html">大学教育</a>
												</li>
											</ul>
										</form>
										<h4>对应知识点</h4>
										<from>
											<ul>
												<li>
													<input type="radio" value="None" name="check" />
													<a href="page-about-us.html">数和数的运算</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-contact-us.html">度量衡</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-faq.html">代数初步知识</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-testimonials-clients.html">几何的初步知识</a>
												</li>
												<li><input type="radio" value="None" name="check" />
													<a href="page-events.html">简单的统计</a>
												</li>
											</ul>
										</from>
									</div>
									<div>
										<h4>按科目分类</h4>
										<from>
											<ul>
												<li><input type="radio" value="None" name="check1" checked="checked" />
													<a href="page-products-3-columns.html">数学</a>
												</li>
												<li><input type="radio" value="None" name="check1" />
													<a href="page-products-4-columns.html">语文</a>
												</li>
												<li><input type="radio" value="None" name="check1" />
													<a href="page-products-slider.html">英语</a>
												</li>
												<li><input type="radio" value="None" name="check1" />
													<a href="page-product-details.html">物理</a>
												</li>
												<li><input type="radio" value="None" name="check1" />
													<a href="shoppng.html">化学</a>
												</li>
											</ul>
										</from>
										<h4>教师要求</h4>
										<from>
											<ul>
												<li><input type="checkbox" value="None" name="check" />
													<a href="page-blog-posts.html">Blog Posts (List)</a>
												</li>
												<li><input type="checkbox" value="None" name="check" />
													<a href="page-blog-post-right-sidebar.html">Blog Single Post (Right Sidebar)</a>
												</li>
												<li><input type="checkbox" value="None" name="check" />
													<a href="page-blog-post-left-sidebar.html">Blog Single Post (Left Sidebar)</a>
												</li>
												<li><input type="checkbox" value="None" name="check" />
													<a href="page-news.html">Latest & Featured News</a>
												</li>
												<li>
													<p>
														<h5>对教师的其他要求</h5></p>
												</li>
												<li>
													<textarea id="txtCon" name="message"></textarea>
												</li>
												<a id="onlya" href="sumbit.ejs"><input type="button" value="提交"></a>
											</ul>
										</from>
									</div>
								</div>
							</div>
							<li>
								<a href="people.html">个人中心（我的储物箱）</a>
							</li>
					</ul>
				</nav>
				<div id="login">
					<a href="Angular.html">登陆</a>
					<a href="Be Angular.html">\注册</a>
				</div>
			</div>
		</div>

		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>教育资讯</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row service-wrapper-row">
					<div class="col-sm-4">
						<div class="service-image">
							<img src="../img/less-logo.png" alt="Color Schemes">
						</div>
					</div>
					<div class="col-sm-8">
						<h3>Color Scheme matching your branding</h3>
						<p>
							Template comes with five color themes (Blue, Orange, Green, Red and Grey). All you need to do is to use relevant CSS file.
						</p>
						<p>
							There is no color scheme that matches your branding? No problem. You can easily compile your own by changing one variable - thanks to LESS!
						</p>
					</div>
				</div>
				<div class="row service-wrapper-row">
					<div class="col-sm-4">
						<div class="service-image">
							<img src="../img/less-logo.png" alt="LESS CSS">
						</div>
					</div>
					<div class="col-sm-8">
						<h3>LESS CSS</h3>
						<p>
							This template is build taking the advantage of LESS. It makes easier to build your own color schemes.
						</p>
						<p>
							We are also using lesshat mixins which makes development even more easier. Please check
							<a href="http://lesshat.com" target="_blank">http://lesshat.com</a> for more information
						</p>
					</div>
				</div>
				<div class="row service-wrapper-row">
					<div class="col-sm-4">
						<div class="service-image">
							<img src="../img/less-logo.png" alt="Responsive">
						</div>
					</div>
					<div class="col-sm-8">
						<h3>Fully Responsive</h3>
						<p>
							It looks great on desktops, laptops, tablets and smartphones - mPurpose template was built to shine on all devices :)
						</p>
						<p>
							You can be sure that all the components are responsive.
						</p>
					</div>
				</div>
				<div class="row service-wrapper-row">
					<div class="col-sm-4">
						<div class="service-image">
							<img src="../img/less-logo.png" alt="Flags">
						</div>
					</div>
					<div class="col-sm-8">
						<h3>Additional Icons - Flags</h3>
						<p>
							Template comes with 247 flag icons representing most countries in the world
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<h2>Custom Buttons</h2>
				<div class="row">
					<div class="col-md-6">
						<p>
							It's worth mentioning that theme comes with some custom buttons - feel free to use them:
						</p>
						<p>
							Note that standard Twitter Bootstrap button (CSS class <code>.btn</code>) will look a bit different - they will match the color scheme
						</p>
					</div>
					<div class="col-md-6">
						<table class="table">
							<tr>
								<th>Button</th>
								<th>CSS Class</th>
							</tr>
							<tr>
								<td>
									<a href="#" class="btn btn-grey">Grey Button</a>
								</td>
								<td><code>.btn-grey</code></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="btn btn-blue">Blue Button</a>
								</td>
								<td><code>.btn-blue</code></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="btn btn-orange">Orange Button</a>
								</td>
								<td><code>.btn-orange</code></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="btn btn-green">Green Button</a>
								</td>
								<td><code>.btn-green</code></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="btn btn-red">Red Button</a>
								</td>
								<td><code>.btn-red</code></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<h2>Ribbons for Pricing Table</h2>
				<div class="row">
					<div class="col-md-6">
						<p>
							mPurpose template comes with one more nice feature - pricing table ribbons!
						</p>
						<p>
							Place the following code before pricing plan title with relevant CSS class to use them:
						</p>
						<pre>
&lt;div class="ribbon-wrapper"&gt;
    &lt;div class="price-ribbon ribbon-green"&gt; ... &lt;/div&gt;
&lt;/div&gt;
    					</pre>
					</div>
					<div class="col-md-6">
						<table class="table">
							<tr>
								<th>Example</th>
								<th>CSS Class</th>
							</tr>
							<tr>
								<td>
									<div style="width: 100px; height: 100px; background: #FFF; position: relative;">
										<div class="ribbon-wrapper">
											<div class="price-ribbon ribbon-green">New</div>
										</div>
									</div>
								</td>
								<td>
									<code>.ribbon-green</code>
								</td>
							</tr>
							<tr>
								<td>
									<div style="width: 100px; height: 100px; background: #FFF; position: relative;">
										<div class="ribbon-wrapper">
											<div class="price-ribbon ribbon-blue">New</div>
										</div>
									</div>
								</td>
								<td>
									<code>.ribbon-blue</code>
								</td>
							</tr>
							<tr>
								<td>
									<div style="width: 100px; height: 100px; background: #FFF; position: relative;">
										<div class="ribbon-wrapper">
											<div class="price-ribbon ribbon-orange">New</div>
										</div>
									</div>
								</td>
								<td>
									<code>.ribbon-orange</code>
								</td>
							</tr>
							<tr>
								<td>
									<div style="width: 100px; height: 100px; background: #FFF; position: relative;">
										<div class="ribbon-wrapper">
											<div class="price-ribbon ribbon-red">New</div>
										</div>
									</div>
								</td>
								<td>
									<code>.ribbon-red</code>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<h4>Other components are easy to discover - please check sample pages ("Pages" menu)</h4>
						<h6>P.S. More information about each component could be found in template documentation which comes with a purchase</h6>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-copyright">Copyright &copy; 2015.Company name All rights reserved.</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../js/jquery-1.9.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/leaflet.js"></script>
	<script src="../js/jquery.fitvids.js"></script>
	<script src="../js/jquery.sequence-min.js"></script>
	<script src="../js/jquery.bxslider.js"></script>
	<script src="../js/main-menu.js"></script>
	<script src="../js/template.js"></script>

</html>