<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>“答尔文”网站欢迎页</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="img/logo.ico" />
		<link rel="stylesheet" href="../css/animate.min.css" type="text/css">
		<link rel="stylesheet" href="../css/creative.css" type="text/css">

	</head>

	<body id="page-top">

		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand page-scroll" href="#page-top">Start “答尔文”之路</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll" href="#about">欢迎加入</a>
						</li>
						<li>
							<a class="page-scroll" href="#services">优质服务</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">关于我们</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<header>
			<div class="header-content">
				<div class="header-content-inner">
					<h1>You can ask anything!</h1>
					<hr>
					<p>你是否还在为功课无法自拔，你是否还在为考试夜夜失眠，你是否还在为升学苦苦追寻，别怕，“答尔文”帮你解决一切！</p>
					<form>
					<a href="/" class="btn btn-primary btn-xl page-scroll">进入“答尔文”</a>
					</form>
				</div>
			</div>
		</header>

		<section class="bg-primary" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">我们得到的你是怎样的？</h2>
						<hr class="light">
						<p class="text-faded">没有人是生来就伟大的。从完全的废柴到包容的彭格列大空，从暴躁的不良少年到合格的左右手，从天然的棒球少年到新一代剑帝，从一根筋的热血少年到可靠的大哥，……每一位少年的独一无二的成长，由我们一起见证。</p>
						<a href="TBe Angular.html" class="btn btn-default btn-xl">加入“答尔文”</a>
					</div>
				</div>
			</div>
		</section>

		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">“答尔文”优质服务</h2>
						<hr class="primary">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
							<h3>你问我答</h3>
							<p class="text-muted">用最精炼的语言，最优秀的讲解，给出你最满意的答案。</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
							<h3>学习社区</h3>
							<p class="text-muted">最新的教育资讯，最好的学习资源，最值得进入的学习乐园。</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
							<h3>资源分享</h3>
							<p class="text-muted">分享你看到的，听到的，想到的。换来他人看到的，听到的，想到的。</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
							<h3>我的储物箱</h3>
							<p class="text-muted">私有领地让你兴奋，云错题集让你狂热，题库练习让你稳定。</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<aside class="bg-dark">
			<div class="container text-center">
				<div class="call-to-action">
					<h2>优秀的团队让你拥有无限的可能！</h2>
					<from>
					<a href="/index" methods="get" class="btn btn-default btn-xl wow tada">进入“答尔文”</a>
					</from>
				</div>
			</div>
		</aside>

		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">Let's Get In Touch!</h2>
						<hr class="primary">
						<p>准备好开始你的在线家教了吗？那太好了！给我们打个电话或给我们发一封电子邮件，我们会尽快回到你的！ </p>
					</div>
					<div class="col-lg-4 col-lg-offset-2 text-center">
						<i class="fa fa-phone fa-3x wow bounceIn"></i>
						<p>181-0017-3523</p>
					</div>
					<div class="col-lg-4 text-center">
						<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
						<p>
							<a href="mailto:your-email@your-domain.com">2430219335@qq.com</a>
						</p>
					</div>

				</div>
			</div>
		</section>

		<script src="../js/jquery.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/jquery.easing.min.js"></script>
		<script src="../js/jquery.fittext.js"></script>
		<script src="../js/wow.min.js"></script>
		<script src="../js/creative.js"></script>
	</body>

</html>
