* {
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar{
    display:none;
}

#world {
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

#contents {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: antiquewhite;
    display: inline-block;
    overflow: scroll;
    -webkit-box-shadow: #999 0px 0px 18px;
    -moz-box-shadow: #999 0px 0px 18px;
    box-shadow: #999 0px 0px 18px;
}

#whiteboard {
    position: absolute;
    right: 0;
    height: 100%;
    width: 84%;
    background-color: aquamarine;
    display: inline-block;
    overflow: scroll;
    -webkit-box-shadow: #999 0px 0px 18px;
    -moz-box-shadow: #999 0px 0px 18px;
    box-shadow: #999 0px 0px 18px;
}

.canvas-item {
    width: 80%;
    height: 100px;
    background-color: bisque;
    margin: 0px auto 10px auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.boxShadow {
    -webkit-box-shadow: #999 0px 0px 8px;
    -moz-box-shadow: #999 0px 0px 8px;
    box-shadow: #999 0px 0px 8px;
}

#add {
    background: url("../img/whiteboard-tools/add.svg") center center no-repeat;
    border: none;
    height: 100px;
    width: 100%;
    outline:none;
    /* background-repeat:no-repeat; */
    /* margin: 40px auto 10px 40%; */
}
#add:hover{
    background: url("../img/whiteboard-tools/add.svg") center center no-repeat;
    border: none;
    height: 100px;
    width: 100%;
    -webkit-box-shadow: #999 0px 0px 8px;
    -moz-box-shadow: #999 0px 0px 8px;
    box-shadow: #999 0px 0px 1px;
}

canvas {
    position: absolute;
}

#canvas0 {
    background-color: aliceblue;
}

#tools {
    background-color: rgba(0,0,0,0.1);;
    height: 100%;
    max-height: 700px;
    width: 50px;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    -webkit-box-shadow: #999 0px 0px 8px;
    -moz-box-shadow: #999 0px 0px 8px;
    box-shadow: #999 0px 0px 8px;
    overflow: scroll;
    transform: translateY(-50%);
}

#tools > div {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    z-index: 1000;
}

#tools >div:hover{
    width: 50px;
    height: 50px;
    z-index: 1000;
    -webkit-box-shadow: #999 0px 0px 28px;
    -moz-box-shadow: #999 0px 0px 28px;
    box-shadow: #999 0px 0px 28px;
}

#rule {
    background-image: url(../img/whiteboard-tools/rule.svg);
    background-size: cover;
}

#pencil-one {
    /* left: 50px; */
    background-image: url(../img/whiteboard-tools/pen1.svg);
    background-size: cover;
}

#pencil-two {
    /* left: 100px; */
    background-image: url(../img/whiteboard-tools/pen2.svg);
    background-size: cover;
}

#paintbrush {
    /* left: 150px; */
    background-image: url(../img/whiteboard-tools/pen3.svg);
    background-size: cover;
}

#color {
    /* left: 200px; */
    border: 21 solid rgba(1, 1, 1, 1);
}

.colpick_color {
    border-radius: 30px;
    overflow: hidden;
}

#rubber {
    /* left: 250px; */
    background-image: url(../img/whiteboard-tools/rubber.svg);
    background-size: cover;
}

/* #shape {
    left: 300px;
    background-image: url(../img/whiteboard-tools/shape.svg);
    background-size: cover;
} */
#sanjian {
    /* left: 300px; */
    background: url("../img/whiteboard-tools/sanjiaoxing.svg");
    background-size: contain;
    overflow: visible;
}

#zhijiaosanjiao {
    /* left: 350px; */
    background: url("../img/whiteboard-tools/zhijiaosanjiaoxing.svg");
    background-size: contain;
}

#yuan {
    /* left: 400px; */
    background: url("../img/whiteboard-tools/yuan.svg");
    background-size: contain;
}

#fang {
    /* left: 450px; */
    background: url("../img/whiteboard-tools/zhengfangxing.svg");
    background-size: contain;
}

#jvxing {
    /* left: 500px; */
    background: url("../img/whiteboard-tools/changfangxing.svg");
    background-size: contain;
    background-repeat:no-repeat;
}

#word {
    /* left: 550px; */
    background-image: url(../img/whiteboard-tools/word.svg);
    background-size: cover;
}

#clearAll {
    /* left: 600px; */
    background-image: url(../img/whiteboard-tools/trash.svg);
    background-size: cover;
}

#record {
    /* left: 650px; */
    /* background: url("../img/whiteboard-tools/luyin.svg"); */
    background-size: contain;
}

#shape div {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #CCCCCC;
    /*border:1px solid black;*/
    position: relative;
    left: 40px;
    top: -100px;
    z-index: 5;
}



#canvasInput {
    font-size: 40px;
    width: 505px;
    height: 50px;
    position: fixed;
    z-index: 2000;
    bottom: 10px;
    right: 60px;
    /* transform: translate(-50%, -50%); */
}

